.circ-btn {
  background-color: white;
  border-radius: 100%;
  border-color: #132C33;
  position: absolute;
  height: 4em;
  width: 4em;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.circ-btn:hover {
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
}


#less-than {
    left: -5em;
}

#greater-than {
    right: -5em
}

.circ-btn * {
  height: 2em;
  width: 2em;
  color: #132C33;
}

.delete-entry-btn {
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.delete-entry-btn:hover {
  padding: 0;
  box-shadow: none;
}
