#act-head {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: .5em;
}

.add-act-btn {
    font-size: 16px;
}

#act-delete-modal {
    max-width: 17em;
}

#act-delete-modal p {
    padding: 1em;
}

#act-delete-btns {
    display: flex;
    justify-content: center;
    gap: 1em;

}
