/* .profile-dropdown {
  position: absolute;
} */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 1.5em;
}

nav div {
  display: flex;
  gap: 1em;
}

#logged-in-nav {
  flex-direction: column;
  align-items: start;
  padding: 0;
  /* position: relative; */
  position: sticky;
  top: 0;
  float: left;
  box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.25);
}

#add-button {
  background-color: white;
  border-radius: 100%;
  border-color: #132C33;
  position: absolute;
  height: 4em;
  width: 4em;
  left: 95vw;
  top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-entry {
  display: none;
}

#add-button:hover #add-entry {
  display: flex;
  position: absolute;
  right: 5em;
  min-width: max-content;
  background-color: white;
  border: #132C33 solid 2px;
  border-radius: 1em;
  justify-content: center;
  align-items: center;
  padding: .5em 1em;
}

#add-button * {
  height: 2em;
  width: 2em;
  color: #132C33;
}

#nav-container {
  background-color: white;
  box-sizing: border-box;
  height: 100vh;
  width: 20vw;
  flex-direction: column;
  padding: 2em;
}

#nav-container * {
  color: #132C33;

}
