/* TODO: Add sitewide styles */

body {
    font-family: "Inter", sans-serif;
    background-color: rgba(18, 110, 130, 0.37);
    margin: 0;
    color: #132C33;
}

a {
    text-decoration: none;
    color: #FCDEBA;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    margin: 5em 2em;
    background-color: white;
}

.hidden {
    display: none;
}

.error {
    color: rgb(197, 11, 11);
}

.activities {
    display: flex;
    flex-wrap: wrap;
}
