/* TODO: Add sitewide styles */

body {
    font-family: "Inter", sans-serif;
    background-color: rgba(18, 110, 130, 0.37);
    margin: 0;
    color: #132C33;
}

a {
    text-decoration: none;
    color: #FCDEBA;
}
