/* TODO: Add sitewide styles */

body {
    font-family: "Inter", sans-serif;
    background-color: rgba(18, 110, 130, 0.37);
    margin: 0;
    color: #132C33;
}

body * {
    margin: 0;
    color: #132C33;
}

main {
    padding: 2em;
}

a {
    text-decoration: none;
    color: #FCDEBA;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    margin: 2em;
    background-color: white;
    border-radius: 1em;
    /* gap: 1em */
}

input {
    width: 100%;
    margin-top: .25em;
    /* margin-bottom: 1em; */
}

input:focus-visible {
    outline-color: #51C4D3;
}

select:focus-visible {
    outline-color: #51C4D3;
}

textarea:focus-visible {
    outline-color: #51C4D3;
}

h1 {
    font-family: "IM Fell Double Pica SC", serif;
    font-size: 57px;
    margin: 0;
}

button {
    border: none;
    padding: .5em 1em;
    background-color: white;
}

.submit-btn {
    border: solid 2px #132C33;
    border-radius: 1em;

}

.hidden {
    display: none;
}

.error {
    color: rgb(197, 11, 11);
    margin: 0;
    height: 16px;
    padding: .5em 0;
    font-size: 12px;
}
.hidden-error {
    height: 1em;
    padding: .25em 0;

}

.activities {
    display: flex;
    flex-wrap: wrap;
}

.nav-buttons {
    color: #132C33;
}

.border-bottom {
    border-bottom: #132C33 solid 1px;
}

#entry-form h2 {
    padding: .5em 0;
}
