.selected * {
    color: #51C4D3;
}

.selectedAct * {
    color: white;
    background-color: #126E82;
}

.date-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 13em;
}


.date-input {
    border: none;
    text-align: center;
    padding: none;
    min-width: max-content;
}

.icons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding-top: 1em;
}

.mood-icon {
    width: 4em;
    height: 4em;
}

.lvls-container {
    padding: .5em;
    max-width: 15em;
    border: #126E82 solid 1px;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    gap: .5em;

}

.edit-btn {
    display: flex;
    justify-content: end;
}

.act-form {
    justify-content: space-between;
}

.react-datepicker__input-container {
    min-width: 13em;
    text-align: center;
    /* display: flex; */
    /* background-color: #126E82; */
}

.note {
    width: 90%;
    margin: .5em 2.3em 0  2.3em;
    min-height: 4em;
    padding: .5em;
}

.activities .activity {
    padding-bottom: .5em;
}

.overall-mood-icon {
    height: 2em;
    width: 2em;
    border-radius: 100%;
}

.overall-mood-icon * {
    height: 2em;
    width: 2em;
}
