#landing-page {
    height: 95vh;
    padding: 0 2em;
}

#home-logged-out * {
    color: #AC7D6B;
}

#home-logged-out p {
    font-family: "Kaisei Decol", serif;
    font-size: 30px;
    max-width: 12em;
    margin: 0;
}

#luna-image {
 position: absolute;
 width: 50vw;
 left: 25vw;
 height: 70vh;
 z-index: -1;
 top: 5vh;
}

#luna-image img{
    width: 100%;
}

#title {
    margin: 0;
}

#home-logged-out {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    min-height: 40em;
}

#home-logged-out h2 {
    /* position: absolute; */
    /* top: 56vh; */
    /* right: 4.5em; */
    /* max-width: 8em; */
    text-align: center;
    margin: 0;
    font-size: 40px;
    /* transform: translate(-50%, 0%); */
    /* color: #126E82; */
    font-family: "Macondo", cursive;

}
.title-font {
    font-family: "IM Fell Double Pica SC", serif;
    font-size: 57px;
}
