.activities {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.activities-container {
    grid-column: 2/ span 2;
    grid-row: 1 / span 3;
}

.acts {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1em;
    row-gap: 1em;
}

.activity {
    display: flex;
    align-items: center;
    gap: .25em;
    /* border: 1px solid black; */
}

.activity div * {
    display: flex;
    align-items: center;
}

.act-btns {
    display: flex;
    justify-content: center;
}

.activities button {
    padding-bottom: 0;
}

#act-form {
    margin: 0;
    padding-top: 1em;
    max-width: 25em;
}

#act-form label{
    padding-bottom: .5em;
}
