.activities {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.activities-container {
    grid-column: 2/ span 2;
    grid-row: 1 / span 3;
    max-height: 20em;
    overflow: scroll;
}

.acts {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
    padding-top: 1em;
    gap: 1em;
}

.activity {
    display: flex;
    align-items: center;
    gap: .5em;
    /* text-transform: capitalize; */
    /* border: 1px solid black; */
}

.activity div * {
    display: flex;
    align-items: center;
}

.act-btns {
    display: flex;
    justify-content: center;
}

.act-btns button {
    padding: 9px .5em;
    /* margin: 5px 0; */
}

.act-btns button:hover {
    padding: .25em .5em;
    z-index: 1;
}

.activities button {
    padding-bottom: 0;
}

#act-form {
    margin: 0;
    padding-top: 1em;
    max-width: 25em;
}

#act-form label{
    padding-bottom: .5em;
}

#act-form .icon {
    width: 34px;
    height: 34px;
}

.act-container {
    border: 1px solid black;
    padding: .5em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.activity-icons {
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    gap: .5em;
    max-height: 18em;
}
