#moon-cycle {
  height: 520px;
  width: 500px;
  position: absolute;
  top: 5em;
  right: 5em;
}

#moon-cycle img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  object-fit: contain;
  position: absolute;
  top: 215px;
  left: 205px;
}

#full {
  animation: CWC 20s infinite linear;
}

#waning-sliver {
  animation: CWC 20s -2s infinite linear;
}

#waning-gibbous {
  animation: CWC 20s -4s infinite linear;
}

#waning-half {
  animation: CWC 20s -6s infinite linear;
}
#waning-cres {
  animation: CWC 20s -8s infinite linear;
}

#new {
  animation: CWC 20s -10s infinite linear;
}

#waxing-sliver {
  animation: CWC 20s -12s infinite linear;
}

#waxing-cres {
  animation: CWC 20s -14s infinite linear;
}

#waxing-half {
  animation: CWC 20s -16s infinite linear;
}

#waxing-gibbous {
  animation: CWC 20s -18s infinite linear;
}

/* Clock-wise Circle */
@keyframes CWC {
  0% {
    transform: rotate(0deg) translateY(215px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateY(215px) rotate(-360deg);
  }
}
