#moon-cycle {
    height: 520px;
    width: 500px;
    position: relative;
    margin: 0 auto;
}

#moon-cycle img {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    object-fit:contain;
}

#full {
position: absolute;
top: 0;
left: 12.8em;
/* transition: ; */
}

#waning-sliver {
    position: absolute;
    right: 4.8em;
    top: 2.6em;
}

#waning-gibbous {
    position: absolute;
    right: 0em;
    top: 9.35em;
}

#waning-half {
    position: absolute;
    right: 0em;
    bottom: 9.25em;
}
#waning-cres {
     position: absolute;
     right: 4.8em;
     bottom: 2.6em;
}

#new {
 position: absolute;
 bottom: 0;
 left: 12.8em;
}

#waxing-sliver {
    position: absolute;
    left: 4.9em;
    bottom: 2.5em;
}

#waxing-cres {
    position: absolute;
    left: 0;
    bottom: 9.25em;
}

#waxing-half {
    position: absolute;
    left: 0em;
    top: 9.35em;
}

#waxing-gibbous {
    position: absolute;
    left: 4.9em;
    top: 2.6em;
}
